.request-block
{
    
     display: flex;
    align-items: center;
    justify-content: center;
     text-align: center;
}

.socials {
    position: absolute;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width:85%;
margin-bottom: 40px;

}
.request-location {
    margin:40px;
    display: flex;
    flex-direction: column;
}