.site-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
     padding: 16px 0 16px 0;  
}

.button-black {
    background-color: #18150E;
    color:#F5F5F2;
}

.button-white {
    background-color: #F5F5F2;
    color:#18150E;
}

.button-blur {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: #CAC8C333;
    color:#F5F5F2;
    border: 1px solid #CAC8C333;
}

.button-icon {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.button-icon img {
    width: 16px;
    height: 16px;
    object-fit: contain;
}
