header{
background-color: blue;;
}

.container-fluid
{
    margin-top: 40px;
    margin-left: 14em;
    margin-right: 14em;
   
}

.nav-link
{
     color:#F5F5F2;
     font-size: 20px;
     font-weight: 400;
}

.nav-item
{
    
    margin-left: 5em;
}

.navbar-nav
{
    margin-left: 3em;
}