.stars {
    display: flex;
    gap: 1px;
}

.star {
    position: relative;
    width: 20px;
    height: 20px;
}

.star img {
    width: 100%;
    height: 100%;
    display: block;
}

.star-fill {
    position: absolute;
    inset: 0;
    background-color: #000000; /* filled color */
    mask-image: url("/img/rating.png");
    mask-size: cover;
    mask-repeat: no-repeat;

    -webkit-mask-image: url("/img/rating.png");
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
}
