.column-container
{
    display: flex;
    flex-direction: column;

}
.row-container {
    display: flex;
    flex-direction: row;
}
.block
{
    position: relative;
    margin: 160px 150px 160px 150px;
}

.grid1
{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
gap:20px;
}
.grid2
{
    display:grid;
    grid-template-columns:2fr 1fr;
gap:20px;
}
.grid3
{
     display:grid;
    grid-template-columns:1fr 1fr ;
gap:20px;
}

.block-img1
{
    position: absolute;
    top:20px;
    right:20px;
}
.block-img2
{
    position: absolute;
    bottom:20px;
    right:20px;
}
.block-text1
{
    position: absolute;
    bottom:20px;
    left:20px;
    right:20px;
}
.gradient {
    color: #F5F5F2;
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to bottom,
        rgba(0,0,0,0.25) 0%,
        rgba(0,0,0,0.45) 100%
    );
    opacity: 1;
    z-index: 5;
}

.icon
{
    width:30px;
    height:auto;
}

.toaster {
    position: fixed;
    top: 5%;
    right: 15%;
    z-index: 9999;
    pointer-events: none;
}

.toast-text {
    background: #18150E;
    color: #F5F5F2;
    padding: 14px 20px;
    border-radius: 100px;
    margin-bottom: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    pointer-events: auto;
}
