.title{
    font-weight: 500;
    margin-top: 5px;
   color: #18150E;
}
.subtitle{
    margin-bottom: 0;
    font-weight: 400;
     letter-spacing: 0.5px;
     text-transform: uppercase;
     color:#6B6963;
}
.title-block a,
.title-block a:visited,
.title-block a:hover,
.title-block a:active {
    text-decoration: none !important;
    color: inherit !important;
}

.site-title-link {
    text-decoration: none !important;
    color: inherit !important;
}


.title-block
{
    display: flex;
    flex-direction: column;
    margin-right: 15%;
}