.title{
     font-size: 50px;
    font-weight: 500;
    margin-top: 5px;
   color: #18150E
}
.subtitle{
     font-size: 20px;
    font-weight: 400;
     letter-spacing: 0.5px;
     text-transform: uppercase;
     color:#6B6963;
}
.title-block
{
    display: flex;
    flex-direction: column;
}