.hero-section {
    width: 100%;
    height: 100vh;
    background-image: url('/img/hero.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.text-container
{
    display: flex;
    flex-direction: column;

}