
body{
    font: General Sans Variable
}


.column-container
{
    display: flex;
    flex-direction: column;

}
.row-container {
    display: flex;
    flex-direction: row;
}
.block
{
    position: relative;
    margin: 160px 150px 160px 150px;
}

.grid1
{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
gap:20px;
}
.grid2
{
    display:grid;
    grid-template-columns:2fr 1fr;
gap:20px;
}
.grid3
{
     display:grid;
    grid-template-columns:1fr 1fr ;
gap:20px;
}

.block-img1
{
    position: absolute;
    top:20px;
    right:20px;
}
.block-img2
{
    position: absolute;
    bottom:20px;
    right:20px;
}
.block-text1
{
    position: absolute;
    bottom:20px;
    left:20px;
    right:20px;
}
.testimon-img
{
    margin-right: 24px;
width:62px;
height: 62px;
border-radius:100px;
 object-fit:cover; 
}

.gradient {
    color: #F5F5F2;
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to bottom,
        rgba(0,0,0,0.25) 0%,
        rgba(0,0,0,0.45) 100%
    );
    opacity: 1;
    z-index: 5;
}


.step
{
   width: 100px;
   height: 100px;
   border-radius: 100px;
   background-color:#F5F5F2 ; 
    box-shadow: 3px 4px 20px 0px #C9C9C999;
   color:#18150E;
  
}
.steps-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-top: 50px;
}

.step-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.step-text {
    text-align: center;
    margin-top: 10px;
}


.step-circle {
     width: 100px;
   height: 100px;
   border-radius: 100px;
   background-color:#F5F5F2 ; 
    box-shadow: 3px 4px 20px 0px #C9C9C999;
   color:#18150E;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 28px;
    font-weight: 500;
}



.step-arrow {
    width: 40px;   
    height: auto;
    margin-bottom: 50px;
}


.btn-tgl
{
    width:23px;
    height: 23px;
}

.card-tgl
{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    opacity: 80%;
    
}

.rotatable {
    transition: transform 0.3s ease;
}

.rotatable:not(.collapsed) {
    transform: rotate(-45deg);
}

.request-block
{
    
     display: flex;
    align-items: center;
    justify-content: center;
     text-align: center;
}

.socials {
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: space-between;  
    align-items: center;

    width: 49%;                    
}

.icon
{
    width:30px;
    height:auto;
}