
body{
    font: General Sans Variable
}
.hero-section {
    width: 100%;
    height: 100vh;
    background-image: url('/img/hero.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.text-container
{
    display: flex;
    flex-direction: column;

}
.block
{
    margin: 160px 150px 160px 150px;
}

.grid1
{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
gap:20px;
}
.grid2
{
    display:grid;
    grid-template-columns:2fr 1fr;
gap:20px;
}

.block-img1
{
    position: absolute;
    top:20px;
    right:20px;
}
.block-text1
{
    position: absolute;
    bottom:20px;
    left:20px;
    right:20px;
}

.gradient
{
    color: '#F5F5F2';
 position: absolute;
    inset: 0;
    background: linear-gradient(
        to bottom,
        rgba(0,0,0,0.25) 0%,
        rgba(0,0,0,0.45) 100%
    );
    opacity: 1;
    z-index: 1;
    pointer-events: none;
}

