
body{
    font: General Sans Variable
}


.text-container
{
    display: flex;
    flex-direction: column;

}
.block
{
    margin: 160px 150px 160px 150px;
}

.grid1
{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
gap:20px;
}
.grid2
{
    display:grid;
    grid-template-columns:2fr 1fr;
gap:20px;
}
.grid3
{
     display:grid;
    grid-template-columns:1fr 1fr ;
gap:20px;
}

.block-img1
{
    position: absolute;
    top:20px;
    right:20px;
}
.block-text1
{
    position: absolute;
    bottom:20px;
    left:20px;
    right:20px;
}

.gradient
{
    color: '#F5F5F2';
 position: absolute;
    inset: 0;
    background: linear-gradient(
        to bottom,
        rgba(0,0,0,0.25) 0%,
        rgba(0,0,0,0.45) 100%
    );
    opacity: 1;
    z-index: 1;
    pointer-events: none;
}

.step
{
   width: 100px;
   height: 100px;
   border-radius: 100px;
   background-color:#F5F5F2 ; 
    box-shadow: 3px 4px 20px 0px #C9C9C999;
   color:#18150E;
  
}
.steps-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-top: 20px;
}

.step-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step-circle {
     width: 100px;
   height: 100px;
   border-radius: 100px;
   background-color:#F5F5F2 ; 
    box-shadow: 3px 4px 20px 0px #C9C9C999;
   color:#18150E;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 28px;
    font-weight: 500;
}



.step-arrow {
    width: 40px;   
    height: auto;
}
