body{
    padding: 0;
    margin: 0;
      color:#F5F5F2;
     font-size: 20px;
     font-weight: 400;
     position: relative;
     background-color: #F5F5F5;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.header-white {
    background-color: transparent;

}

.header-white .nav-link {
      color: #F5F5F2 !important;
}

.header-black {
    background-color: transparent;

}

.header-black .nav-link {
    color: #18150E !important;
}

.header-black .navbar-brand img {
    filter: brightness(0) invert(0);
}


footer{
     position: absolute;
    bottom: 100;
    left: 0;

    background-color: #18150E;
}
footer img
{
z-index:5;
color:white;
}
.footer{
     display:grid;
    grid-template-columns: 3fr 2fr 3fr;
    gap:5em;
     margin: 3% 10%;
}
@media (max-width: 1250px) {
    .footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5em;
        padding: 3em 2em;
          justify-content: center;
          align-items: center;
          text-align: center;
    }
    .footer>:nth-child(1)
    {
        grid-column: 1 / -1; 
    }
}
@media (max-width: 900px) {
    .footer {
        grid-template-columns: 1fr;
    }
}


.footer-col
{
    display: flex;
    flex-direction: column;
}
.container-fluid
{
   margin: 1.5em 10%;
   
}

.nav-link
{
     color:#F5F5F2;
}

.nav-item
{
    
    margin-left: 2em;
}

.navbar-nav
{
    margin-left: 0.5em;
}

i
{

    margin-right: 0.5em;
    font-size: 24px;
     font-weight: bold;
      -webkit-text-stroke: 1px currentColor;
}

