body{
    padding: 0;
    margin: 0;
      color:#F5F5F2;
     font-size: 20px;
     font-weight: 400;
     position: relative;
}
h1, h2, h3,h4 {
    font-family: General Sans Variable, sans-serif;
    color: #18150E;
}
h1{
    font-size: 64px;
    font-weight: 600;
}

h2{
     font-size: 50px;
    font-weight: 600;
}

h3{
     font-size: 28px;
    font-weight:500;
}

h4{
     font-size: 20px;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.header-white {
    background-color: transparent;
}

.header-white .nav-link {
      color: #F5F5F2 !important;
}

.header-black {
    background-color: transparent;
}

.header-black .nav-link {
    color: #18150E !important;
}

.header-black .navbar-brand img {
    filter: brightness(0) invert(0);
}


footer{
     position: absolute;
    bottom: 100;
    left: 0;

    background-color: #18150E;
}
footer img
{
z-index:5;
color:white;
}
.footer{
     display:grid;
    grid-template-columns: 3fr 2fr 3fr;
    gap:5em;
    padding:3em 7em 2em 7em;
}
.footer-col
{
    display: flex;
    flex-direction: column;
}
.container-fluid
{
   margin: 1.5em 4em;
   
}

.nav-link
{
     color:#F5F5F2;
}

.nav-item
{
    
    margin-left: 2em;
}

.navbar-nav
{
    margin-left: 0.5em;
}

i
{

    margin-right: 0.5em;
    font-size: 24px;
     font-weight: bold;
      -webkit-text-stroke: 1px currentColor;
}

