.site-block {
    background-color: #F5F5F2;
    border-radius: 24px;
    box-shadow: 3px 4px 15px 0px #C9C9C999;
    margin: 10px 0;
    position: relative; 
     overflow: visible;
}

.site-block *
{
    box-shadow: none;
}

.site-block > * {
    position: relative;
    z-index: 1;
}